/* Загальні стилі */
body {
  background-image: url('https://raw.githubusercontent.com/DIMIDROLLL1243/tistove-svitlo/main/photo_2025-04-17_14-00-47.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-size: 18px; /* Розмір шрифтів */
  min-height: 100vh; /* Гарантуємо, що висота сторінки покриває весь екран */
  overflow-y: auto; /* Додаємо вертикальну прокрутку */
  padding: 0;
  margin: 0;
  font-family: 'Spectral SC', serif;
}

/* Стиль для заголовка */
h1 {
  font-family: 'Cinzel', serif;
  font-size: 56px;
  text-align: center;
  margin-top: 50px;
  color: #4d2a1f;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* Стиль для параграфів */
p {
  font-size: 26px;
  text-align: center;
  line-height: 1.8;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Spectral SC', serif;
}

/* Стиль для кнопки */
button {
  font-family: 'Cinzel', serif;
  font-size: 22px;
  background-color: #4d2a1f;
  color: #fff;
  border: none;
  padding: 20px 40px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 40px;
}

button:hover {
  background-color: #7a4b36;
}

/* Медіа-запити для адаптивності */
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 40px;
  }

  p {
    font-size: 20px;
    max-width: 90%;
  }

  button {
    font-size: 18px;
    padding: 15px 30px;
  }
}
